:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  overflow: hidden; 

}

#app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}